apdev-examples/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="syncDBaccountesWithPostal" doc:id="32964f91-16d3-44c5-a047-3be38e40be05" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="d7ef00cd-89b4-4718-a906-72a160b52e29" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="1b4c06f1-ab0e-440a-989c-6a42067d4054" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="804c5114-f237-4810-910a-c442045228b1" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts 
WHERE postal = :postal AND accountID >:lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal : '922929',lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="27d1abe8-f69f-409c-9358-16dcd95495c0" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="79fd4c3f-f455-4243-90bd-4a2d468629e4" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="6bd195c5-1c91-4506-867f-78e0185ad09d" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false --- payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="66b8bb0b-779a-492e-8568-de2d9a1a384c" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json --- payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher" : "training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV payload" doc:id="ded10917-9d71-4050-97ee-398176a0cf32" message="#[output application/csv --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a9bf69e9-7f38-43a0-aeff-8c0d24907a51" message="No new Records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="batchProcessCSVaccounts" doc:id="c913fa34-855b-4b28-b6c0-76390789e24e" >
		<file:listener doc:name="accounts.csv" doc:id="622edb8b-8977-464e-bb13-f0eba6fb9f79" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="65ef613e-9d2a-4487-804c-311966f3119c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="e2b0c7c7-14e3-4679-98cd-a4895532e1b8" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="61e8569a-cd99-4bbd-a9ff-21e074ea2db2" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="e72d9e1c-c30c-4234-8bf8-6dfba8b2fd94" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="16797db8-5ea8-49d6-b2f8-14d5521af62a" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="a36faca2-5462-4b9f-92ab-5456a9327470" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="676af5a0-a94b-4027-ac2d-a1d3ab221814" >
					<logger level="INFO" doc:name="Logger" doc:id="5fc631ed-69a4-4fc5-a577-6b7c47cb3a51" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="f19349c8-d2cd-435c-a27c-32c72a0bcf5f" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="receiveJMSmessages" doc:id="d3e0c861-6ae5-4bc5-b157-4e402fd87a56" >
		<jms:listener doc:name="JMS accountsQ" doc:id="5f14568e-5983-42aa-b172-2982e5d8186e" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="JSON to Account" doc:id="321346c8-9cb8-4265-94d9-59f41fa81af9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="08d9fe61-99bd-41dc-aff5-3ad2c91d60e2" >
			<batch:process-records >
				<batch:step name="isAccountInSalesforce" doc:id="61444e13-f310-4695-a4cf-3bca0ebdcb69" >
					<salesforce:query doc:name="Account" doc:id="11d6a423-f99d-413c-a3f5-4f542a4d163c" config-ref="Salesforce_Config" target="exists" targetValue="#[sizeOf(payload as Array) &gt; 0]">
						<salesforce:salesforce-query ><![CDATA[SELECT Name FROM Account
WHERE Name= ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="c84fae80-744f-460e-8c24-47ff5da07c55" />
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="830ae924-d5ed-44ae-ba06-fb70ae500a3d" acceptExpression="#[not vars.exists]">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="828a08e1-fa40-4084-940c-9e8c0aef1835" size="3">
						<salesforce:create type="Account" doc:name="Accounts" doc:id="847e72a9-e3b7-4e95-86f3-2881b53712c0" config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger" doc:id="4d40ee6c-3d91-4e3d-8a92-cf55686ee2cf" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c52c8334-2efd-4e96-9ac5-4bed7add1461" />
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="payload" doc:id="cdd63761-e557-4fd6-a272-7f2dbbd63735" message="#[payload]"/>
	</flow>
	<flow name="getSFDCaccounts" doc:id="fbd82adf-92d4-463a-8376-e1703ab0b679" >
		<http:listener doc:name="GET /sfdc" doc:id="1e018e2f-7199-4e96-82a1-8c5bbe76176b" config-ref="HTTP_Listener_config" path="/sfdc"/>
		<salesforce:query doc:name="Account" doc:id="b67f01b0-d879-4422-9e90-0257b324dd52" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="652a3b97-6d9a-4497-8f3a-0811d20a778e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCSVaccounts" doc:id="0df618df-9e32-4f0a-a39e-eb583478fe90" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="da44644b-9d82-4fe1-a632-f3cccf609c3c" directory="input" moveToDirectory="output" config-ref="File_Config">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="601b11ae-a4bd-4b06-8c08-37ee7d171226" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7e40d5b8-c954-4f11-935f-2a6e58a48f6f" >
			<set-payload value="processed" doc:name="processed" doc:id="0ab11a8c-c331-47fc-b0cc-a447b1a15d20" />
			<logger level="INFO" doc:name="payload" doc:id="537a4929-acf1-4ea5-817c-98359b0ec2f1" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload" doc:id="64837af2-9d35-4459-a4fa-f5824cc170c4" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="bd83a981-b13d-4c18-9161-a57d03cadc86" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="78e530f3-4b25-40e0-8c7a-aaea14081b83" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="JAVA to CSV" doc:id="eedb4dd7-1274-482e-9fb8-e2c9a756ee7f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="5d5d1f22-5bf3-4fff-a0e2-cbcc5db45bd2" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="payload" doc:id="39d95c5d-e0c4-4d26-aff5-1d18c65f6334" message="#[payload]"/>
	</flow>
</mule>
